.accountHead {
	margin:20px 0;
	width:100%;
	height:74px;
	overflow:hidden;
}
.accountChartBox {
	float:right;
	margin-top:19px;
}
.progress-1 {
	display:block;
	width:485px;
	height:24px;
	background:url(../images/index_icon.png) 0px -467px no-repeat;
}
.progress-2 {
	background:url(../images/index_icon.png) 0px -492px no-repeat;
}
.progress-3 {
	background:url(../images/index_icon.png) 0px -517px no-repeat;
}
.accountChartBox ul li {
	float:left;
	width:160px;
	margin-top:1em;
}
.progressOnfocus {
	color:#009FE5;
}
.myCartList {
	width:100%;
	overflow:hidden;
}
.myCartList a {
	color:#005ea7;
}
.myCartList a:hover {
	color:#D9B765;
}
.myCartListHead {
	text-align:left;
	font-size:18px;
}
.cartHead {
	width:100%;
	height:28px;
	border-top:2px solid #ccc;
	background:#F4F4F4;
}
.th {
	float:left;
	height:28px;
	line-height:28px;
	border-left:1px solid #fff;
}
.th_chk {
	margin-left:-1px;
	width:60px;
}
.th_item {
	width:330px;
}
.th_price {
	width:150px;
}
.th_amount {
	width:150px;
}
.th_sum {
	width:150px;
}
.th_op {
	width:150px;
}
.cart_tbody {
	width:998px;
	height:82px;
	padding:10px 0;
	margin-top:20px;
	border:1px solid #CADEFF;
	background:#EEF6FF;
}
.td {
	float:left;
	height:82px;
	margin-left:1px;
	vertical-align:middle
}
.td_chk {
	width:60px;
}
.td_item {
	width:330px;
}
.td_price {
	width:150px;
}
.td_amount {
	width:150px;
}
.td_sum {
	width:150px;
}
.td_op {
	width:150px;
}
.td_item img {
	float:left;
	width:80px;
	height:80px;
	border: 1px solid #ccc;
}
.td_item p {
	float:right;
	text-align:left;
	width:240px;
	height:32px;
	margin:4px 0;
}
.td_amount_box {
	width:82px;
	margin:0 auto;
	overflow:hidden;
}
.decrement {
	float:left;
	display:block;
	padding:0 5px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
}
.increment {
	float:left;
	display:block;
	padding:0 5px;
	background:#fff;
	border:1px solid #ccc;
	text-align:center;
}
.quantityText {
	float:left;
	width:36px;
	height:18px;
	text-align:center;
}
.td_amount_box a:hover{
	text-decoration:none;
	border:1px solid #005ea7;
}
.td_op a {
	display:block;
}
.cartFoot {
	width:100%;
	height:28px;
	margin-top:20px;
	border-bottom:1px solid #ccc;
	background:#F4F4F4;
}
.footOp {
	float:left;
	height:15px;
	margin:5px;
}
.footOp a {
	margin-left:1em;
}
.cartTotal {
	float:right;
}
.cartTotal p {
	float:left;
	margin:0;
}
.productAmount strong {
	font-size:1.62em;
	color:#D9B765;
}
.productTotalSum em {
	font-size:1.62em;
	font-style:normal;
	color:#B2B2B2;
}
.productTotalSum em strong {
	color:#D9B765;
}
.cartButton {
	width:100%;
	height:36px;
	margin:10px 0 20px 0;
	overflow:hidden;
}
.continueShopping {
	float:left;
	display:block;
	width:50px;
	height:17px;
	padding:7px 10px 10px 10px;
	border: 1px solid #E6E6E6;
	background-image: -moz-linear-gradient(top, #fefefe, #f1f1f1);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #f1f1f1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f1f1f1', GradientType='0');
}
.confirmOrder {
	float:right;
	display:block;
	width:135px;
	height:36px;
	background:url(../images/index_icon.png) -343px -367px no-repeat;
}
.confirmOrder:hover {
	display:block;
	width:135px;
	height:36px;
	background:url(../images/index_icon.png) -343px -404px no-repeat;
}